<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Create a Bitcoin Brain Wallet</h3>
      <h5>Your Brain Wallet has been generated with the input: "{{brainSrc}}"</h5>
      <h6>Address: {{address}}</h6>
      <h6>Private Key: {{privateKey}}</h6>
      <a target="_blank" href="https://www.blockchain.com/btc/address/{{address}}">Il y a t-il des fonds sur mon adresse ?</a>
      <p>This passphrase, depending upon the type of generator you are using, is hashed with SHA-256 algorithm to generate a Bitcoin private key and then a Bitcoin public key.</p>
    </div>
    <div class="col-6">
      <img src={{url}} alt="QR Code"/>
    </div>
  </div>
</div>